<!DOCTYPE html>
<html>
  <head>
    <title>GitFile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="container">
    <div class="row">
      <header id="header">
        <form action="/" method="GET">
          <input
            type="text"
            name="username"
            id="search-bar"
            placeholder="Search"
          />
        </form>
      </header>
      <% if (userData) { %>
      <div class="user">
        <div class="user-container">
          <div class="user-img-info">
            <img src="<%= userData.avatar_url %>" />

            <div class="user-info">
              <h1><%= userData.name %></h1>

              <a href="<%= userData.html_url %>" target="blank"
                ><h3>@<%= userData.login %></h3></a
              >

              <h4><%= userData.location %></h4>

              <h4><%= userData.bio %></h4>
            </div>
          </div>

          <div class="user-stats">
            <div class="stat">
              <p><%= userData.public_repos %></p>
              <p>repos</p>
            </div>

            <div class="stat">
              <p><%= userData.followers %></p>
              <p>followers</p>
            </div>

            <div class="stat">
              <p><%= userData.following %></p>
              <p>following</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>Repos:</h3>
        <div class="repos">
          <% userData.repos.forEach(function(repo) { %>
          <a
            href="<%= repo.html_url %>"
            target="_blank"
            class="list-group-item"
          >
            <div class="repo-card">
              <h2><%= repo.name %></h2>
              <p><%= repo.description %></p>
              <p><%= repo.language %></p>
              <span class="repo-stats"
                ><span>✰<%= repo.stargazers_count %></span>
                <span>Ψ<%= repo.forks %></span></span
              >
            </div>
          </a>
          <% }); %>
        </div>
      </div>

      <% } else { %>
      <h3>Get your GitFile</h3>
      <% } %>
    </div>
  </body>
</html>
